$primary-red: #CC2936;
$smoke-black: #333333;
$primary-white: #F0F0F0;
$primary-green: #3E885B;
$primary-blue: #08415C;
$sky-blue: #5BC0EB;
@import url('https://fonts.googleapis.com/css?family=Iceland');

body {
  background-image: url('http://deskbg.com/i/c/1366x768/wpp/7/7123/thor-hammer-fall-desktop-background.jpg');
  background-color: lightgrey;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  font-family: 'Iceland', cursive;
  font-size: 25px;
}
